[Unit]
Description=Ada
Requisite=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/Projects/ada/.venv/bin/ada serve
Restart=on-failure
RestartSec=3
RestartPreventExitStatus=1
Type=simple

[Install]
WantedBy=graphical-session.target
