[Unit]
Description=Axiom desktop shell
Documentation=https://github.com/lnqs/axiom
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=%h/.local/opt/axiom/axiom start
Restart=on-failure

[Install]
WantedBy=graphical-session.target
