"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: []
    projectHome: "/home/lnqs/Projects"
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Droid Sans Mono"
    fontSize: 13
  "exception-reporting":
    userId: "361c340d-edd7-42de-8696-b44dd04fdaf7"
  linter: {}
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
  welcome:
    showOnStartup: false
