@import "mocha.css";

* {
  font-family: Roboto;
  font-size: 11pt;
	background-image: none;
	box-shadow: none;
}

window {
  background: alpha(@base, 0.85);
}

button {
	color: @text;
  background: alpha(@overlay0, 0.1);
  margin: 0px 80px;
	border: 1.5px solid @blue;
  border-radius: 24px;
	background-position: center;
	background-size: 25%;
	background-repeat: no-repeat;
}

button:hover {
	background-size: 30%;
  background-color: alpha(shade(@overlay0, 1.1), 0.5);
}

button:focus {
	background-size: 30%;
  background-color: alpha(shade(@overlay0, 0.8), 0.5);
}

button:active {
	background-size: 30%;
  background-color: alpha(shade(@overlay0, 0.9), 0.5);
}

#lock {
  background-image: url("icons/lock.svg");
}

#shutdown {
  background-image: url("icons/shutdown.svg");
}

#reboot {
  background-image: url("icons/reboot.svg");
}
