@import "mocha.css";

* {
  all: unset;
}

:root {
  font-family: "Roboto";
  font-weight: 500;
  /* Some font sizes don't work, see <https://www.reddit.com/r/gnome/comments/1bmuxuo/comment/kwef18c/>*/
  font-size: 13px;
  color: @text;
}

scale trough {
  margin: 0rem 1rem;
  background: @surface0;
  min-height: 8px;
  min-width: 70px;
}

.close-button {
  /* The notification Close Button */
  min-width: 20px;
  min-height: 20px;
  margin-top: 12px;
  margin-right: 12px;
  color: @base;
  background: @red;
  border-radius: 100%;
}

.close-button:hover {
  background: shade(@red, 1.1);
  transition: background 0.15s ease-in-out;
}

.notification-row {
}

.notification-row:focus {
}

.notification-row .notification-background {
}

.notification-row .notification-background .notification {
  /* The actual notification */
  min-height: 60px;
  padding: 16px 16px;
  margin: 6px 6px;
  background: alpha(@surface0, 0.8);
  border: 1.5px solid alpha(@surface2, 0.8);
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.notification-row .notification-background .notification:hover {
  background: alpha(@surface0, 0.9);
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification.critical {
  border-color: @red;
}

.notification-row .notification-background .notification .notification-default-action {
  /* The large action that also displays the notification summary and body */
}

.notification-row .notification-background .notification .notification-default-action:hover {
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  /* When alternative actions are visible */
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  /* Notification Primary Image */
  -gtk-icon-filter: none;
  -gtk-icon-size: 64px;
  border-radius: 12px;
  margin-right: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  /* Notification summary/title */
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  /* Notification time-ago */
  font-size: 11px;
  font-weight: bold;
  margin-right: 12px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  /* Notification body */
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  /* The optional notification progress bar */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  /* The "extra" optional bottom notification image */
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  /* The inline reply section */
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  border: 1.5px solid alpha(@overlay0, 0.9);
  border-radius: 8px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  color: @teal;
  margin-left: 6px;
  background: alpha(@overlay0, 0.4);
  border: 1.5px solid alpha(@overlay0, 0.9);
  border-radius: 8px;
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  color: shade(@text, 0.8);
  background: alpha(shade(@overlay0, 0.9), 0.5);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: alpha(shade(@overlay0, 1.1), 0.9);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:active {
  background: alpha(shade(@overlay0, 0.9), 0.9);
}

.notification-row .notification-background .notification .notification-alt-actions {
}

.notification-row .notification-background .notification .notification-action {
  /* The alternative actions below the default action */
  margin-top: 24px;
  text-align: center;
}

.notification-row .notification-background .notification .notification-action > button {
  color: @teal;
  margin: 0px 6px;
  padding: 8px 6px;
  background: alpha(@overlay0, 0.4);
  border: 1.5px solid alpha(@overlay0, 0.9);
  border-radius: 8px;
  transition: background 0.15s ease-in-out;
}

.notification-row .notification-background .notification .notification-action > button:hover {
  background: alpha(shade(@overlay0, 1.1), 0.9);
}

.notification-row .notification-background .notification .notification-action > button:active {
  background: alpha(shade(@overlay0, 0.9), 0.9);
}

.notification-group {
  /* Styling only for Grouped Notifications */
}

.notification-group:focus {
  background: alpha(@overlay0, 0.5);
  border-radius: 12px;
}

.notification-group .notification-group-close-button .close-button {
}

.notification-group .notification-group-buttons, .notification-group .notification-group-headers {
  color: shade(@text, 0.9);
}

.notification-group .notification-group-buttons button {
  color: shade(@text, 0.9);
  transition: color 0.15s ease-in-out;
}

.notification-group .notification-group-buttons button:hover {
  color: shade(@text, 1.0);
}

.notification-group .notification-group-buttons button:focus {
  color: shade(@text, 0.8);
}

.notification-group .notification-group-headers .notification-group-icon {
  -gtk-icon-size: 32px;
}

.notification-group .notification-group-headers .notification-group-header {
  margin: 0 16px;
}

.notification-group.collapsed.not-expanded {
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  padding: 0 12px;
  background: alpha(@base, 0.85);
  border: 1.5px solid @teal;
  border-radius: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.control-center .control-center-list-placeholder {
  /* The placeholder when there are no notifications */
}

.control-center .control-center-list {
  /* List of notifications */
}

.control-center .control-center-list .notification {
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
}

.blank-window {
  /* Window behind control center and on all other monitors */
}

.floating-notifications {
}

.floating-notifications .notification {
}

/*** Widgets ***/
/* Buttons widget */
.widget-buttons-grid {
}

.widget-buttons-grid flowboxchild {
  margin-top: 20px;
}

.widget-buttons-grid flowboxchild > button {
  min-height: 42px;
  font-size: 22px;
  margin: 0px 6px;
  padding: 8px 6px;
  background: alpha(@overlay0, 0.1);
  border: 1.5px solid alpha(@overlay0, 0.1);
  border-radius: 8px;
  transition: background 0.15s ease-in-out;
}

.widget-buttons-grid flowboxchild > button:hover {
  background: alpha(shade(@overlay0, 1.1), 0.5);
}

.widget-buttons-grid flowboxchild > button:active {
  background: alpha(shade(@overlay0, 0.9), 0.5);
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
  color: @teal;
  background: alpha(shade(@overlay2, 1.2), 0.4);
  transition: all 0.15s ease-in-out;
}

.widget-buttons-grid flowboxchild > button.toggle:checked:hover {
  background: alpha(shade(@overlay2, 1.3), 0.4);
}

.widget-buttons-grid flowboxchild > button.toggle:checked:active {
  background: alpha(shade(@overlay2, 1.1), 0.4);
}

/* Volume widget */
.widget-volume {
  font-size: 20px;
  color: @blue;
  margin: 24px 0px 0px 10px;
}

.widget-volume label {
  margin-right: 12px;
}

.widget-volume trough {
  min-height: 6px;
  border-radius: 12px;
}

.widget-volume trough highlight {
  background: @blue;
}

/* Backlight widget */
.widget-backlight {
  font-size: 20px;
  color: @yellow;
  margin: 12px 0px 12px 10px;
}

.widget-backlight label {
  margin-right: 12px;
}

.widget-backlight trough {
  min-height: 6px;
  border-radius: 12px;
}

.widget-backlight trough highlight {
  background: @yellow;
}

/* Slider widget */
.widget-slider {
}

.widget-slider label {
}

/* Mpris widget */
.widget-mpris {
  /* The parent to all players */
  margin: 32px 16px;
}

.widget-mpris .widget-mpris-player {
  border-radius: 12px;
  border: 1.5px solid alpha(@surface2, 0.8);
}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: blur(8px);
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background: rgba(0, 0, 0, 0.55);
}

.widget-mpris .widget-mpris-player .mpris-overlay button {
  /* The media player buttons (play, pause, next, etc...) */
  color: @text;
  transition: background 0.15s ease-in-out;
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  color: shade(@text, 1.1);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:active {
  color: shade(@text, 0.9);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -gtk-icon-size: 96px;
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
}

.widget-mpris > box > button {
  /* Change player side buttons */
  color: @text;
}

.widget-mpris > box > button:disabled {
  /* Change player side buttons insensitive */
  color: shade(@text, 0.6);
}

/* Title widget */
.widget-title > label {
  margin: 8px 6px;
  font-size: 16px;
}

.widget-title button {
  color: @red;
  margin: 0px 6px;
  padding: 6px 12px;
  background: alpha(@overlay0, 0.4);
  border: 1.5px solid alpha(@overlay0, 0.9);
  border-radius: 8px;
  transition: background 0.15s ease-in-out;
}

.widget-title > button:hover {
  background: alpha(shade(@overlay0, 1.1), 0.9);
}

.widget-title > button:active {
  background: alpha(shade(@overlay0, 0.9), 0.9);
}

.widget-title > button:disabled {
  color: @surface2;
  background: alpha(shade(@overlay0, 0.9), 0.1);
  border: 1.5px solid alpha(@overlay0, 0.1);
}

/* DND widget */
.widget-dnd {
  margin: 8px 6px;
}

.widget-dnd label {
}

.widget-dnd switch {
  border-radius: 12px;
  background: @surface0;
  border: 1px solid @surface1;
  box-shadow: none;
}

.widget-dnd switch slider {
  background: @blue;
  border-radius: 12px;
  transition: background 0.05s ease-in-out;
}

.widget-dnd switch:checked slider {
  background: @red;
}

/* Label widget */
.widget-label {
}

.widget-label > label {
}

