[Unit]
Description=Backup to Backblaze b2
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.local/bin/backup
Restart=on-failure
RestartSec=3600
