[Unit]
Description=Knoepfe

[Service]
# Set path to where Knoepfe executable was installed to
ExecStart=/bin/knoepfe
Restart=always

[Install]
WantedBy=default.target
